doctype html
html(lang='en')
  
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='theme-color', content='#FFFFFF')    
  link(rel='icon', type='image/png', sizes='512x512', href='_assets/favicon/512.png')
  link(rel='icon', type='image/png', sizes='32x32', href='_assets/favicon/32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='_assets/favicon/16.png')
  link(rel='manifest', href='manifest.webmanifest')
  
  link(rel='stylesheet', href='../node_modules/material-design-lite/dist/material.grey-indigo.min.css')
  script(src='../node_modules/material-design-lite/material.min.js')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
  title P2Pchat
  link(rel='stylesheet', href='./index.scss')
  script(type='module', src='./index.js')
    
  body
    
    noscript
      p This app needs JavaScript to work.
      
    aside#debug(style='display: none')
      p.debug__node
      p.debug__peers

    aside#loading
      p.libp2p__status loading app
      .mdl-progress.mdl-js-progress.mdl-progress__indeterminate

    main#app.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-drawer
      
      header.app-header.mdl-layout__header
        .mdl-layout__header-row
          span#app-channel-label.mdl-layout-title #channel-a
          .mdl-layout-spacer
          nav.mdl-navigation
            a#app-link-channel.mdl-button.mdl-js-button.mdl-button--icon(href='', data-dialog-open='app-channel-qrcode-dialog')
              i.material-icons link
          a#app-channel-menu.mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons more_vert
          ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='app-channel-menu')
            li#app-channel-leave.mdl-menu__item Leave

      aside.app-drawer.mdl-layout__drawer
        
        header.app-profile.mdl-navigation__link
          img.app__avatar(src='')
          .app__id.mdl-layout-title 
          div Peers: 
            span.app__peercount 0
        
        main#app-channels
          nav.mdl-navigation
            div.app-channels__contents
              //- Channel entries here!
            a#app-channel-join.mdl-navigation__link(href='', data-dialog-open='app-channel-join-dialog') Join Channel
        
        .mdl-layout-spacer   
               
        footer
          nav.mdl-navigation
            a#app-about.mdl-navigation__link(href='', data-dialog-open='app-about-dialog') About
            
      main#app-content.mdl-layout__content
        
        main#app-chats
          .mdl-layout-spacer
          .app-chats__contents
          //- Chat posts go here!

        footer.app-post.mdl-layout__header-row
          .mdl-textfield.mdl-js-textfield
            input#app-post-input.mdl-textfield__input(type='text', autofocus, placeholder="Post...")
          button#app-post-send.mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons send
    
        aside#app-channel-info(style='display: none;')
          p Please <a id='app-channel-join--text' class='mdl-navigation__link' href=''>join a channel</a> to get started.
          
        dialog#app-channel-join-dialog.mdl-dialog
          h3.mdl-dialog__title Join a Channel
          .mdl-dialog__content
            p If no channel with the given name and key exists yet one will be created for you.
            form(action='#')
              .mdl-textfield.mdl-js-textfield
                input#app-channel-name.mdl-textfield__input(type='text', placeholder="Name...", autofocus)
              .mdl-textfield.mdl-js-textfield
                input#app-channel-key.mdl-textfield__input(type='password', placeholder="Key...")
              input.submit(type='submit', style='display: none')
            .mdl-dialog__actions
              button#app-channel-join-ok.mdl-button(type='button', data-dialog-close='app-channel-join-dialog') Join
              button.mdl-button.close(type='button', data-dialog-close='app-channel-join-dialog') Cancel
              
        dialog#app-channel-qrcode-dialog.mdl-dialog
          h3.mdl-dialog__title Share a Channel
          .mdl-dialog__content
            p Scan the QR Code or visit the URL and enter the key to join.
            img.app__qrcode
            p https://p2pchat.surge.sh/?c=channel-a
            .mdl-dialog__actions
              button.mdl-button.close(type='button', data-dialog-close='app-channel-qrcode-dialog') Done

        dialog#app-about-dialog.mdl-dialog
          h3.mdl-dialog__title About P2Pchat
          .mdl-dialog__content
            p P2Pchat is a peer-to-peer chat application made by Sayantan Chaudhuri for his masters degree.
            p Yeah...
            p It uses libp2p for networking, and is progressive web app, so go ahead, install it!
            .mdl-dialog__actions
              button.mdl-button.close(type='button', data-dialog-close='app-about-dialog') #TIL

        template#app-chat
          .app-chat(data-bind_dataset.app-chat-id='id' data-app-chat-id='')
            img.app__avatar(src='')
            div
              span.app__id(data-bind_inner-text='id')
              .app-chat__contents
                p.app-chat__content(data-bind_inner-text='content')
              
        template#app-chat__content
          p.app-chat__content(data-bind_inner-text='content')
            
        template#app-channel        
          a.app-channel.mdl-navigation__link(
            href='',
            data-bind_dataset.app-channel-name='name', 
            data-app-channel-name='',
            data-bind_dataset.app-channel-key='key', 
            data-app-channel-key=''
          ) #
            span(data-bind_inner-text='name')
